body {
  background: $background;
}

.wrapper {
  @include wrapper(1080px, 80%);
}

header {
  margin-top: 3%;
  border: 1px solid red;
  text-align: center;

  h1 {
    font-family: 'Rubik Mono One', sans-serif;
    text-transform: uppercase;
    font-size: 5.1rem;
    color: $charcoal-brown;
    margin-left: 2rem;

    .spacingFix {
      margin-left: -2rem;
    }
  }

  p {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: $orange;
  }
}

// MAIN STARTS HERE

main {
  margin: 4% 0;
}

.gameGrid {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: rotateY(0deg) scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  width: 100px;
  height: 100px;
}

.card:focus {
  border: 1px solid red;
}

.card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.card.flip {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  width: 100%;
  height: 100%;
  position: absolute;
  // backface-visibility: hidden;
}

.cardFront {
  transform: rotateY(180deg);
  img {
    width: 100%;
    display: block;
    border-radius: 16%;
  }
}

.cardBack {
  border-radius: 16%;
  background: black;
  opacity: 0.8;
}

// FOOTER STARTS HERE

footer {
  border: 1px solid red;
  margin-bottom: 3%;

  .wrapper {
    display: flex;
    justify-content: flex-end;
  }

  p {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: $orange;
  }
}

