$background: #F2F2F2;
$charcoal-brown: #302826;
$grey: #D3D3D3;
$orange: #DC5712;
$blue: #43ABE0;
$green: #96BF3E;
$red: #E9594E;
$purple: #542361;

// MIXINS

@mixin wrapper($max-width, $width, $margin: 0 auto) {
  max-width: $max-width;
  width: $width;
  margin: $margin;
}