@font-face {
  font-family: "Campton";
  font-weight: "600";
  src: url("../assets/fonts/campton-semibold.eot");
  src: url("../assets/fonts/campton-semibold.woff") format("woff"), url("../assets/fonts/campton-semibold.woff2") format("woff2"), url("../assets/fonts/campton-semibold.ttf") format("opentype");
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body,
section,
div,
h1,
h2,
h3,
p,
ol {
  margin: 0;
  padding: 0;
}

ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

body {
  background: #F2F2F2;
  font-family: 'Campton', sans-serif;
  font-size: 2.6rem;
}

@media (max-width: 650px) {
  body {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 1.6rem;
  }
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

header {
  background: #43ABE0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  position: relative;
  left: 0;
  -webkit-transition: left 1s;
  transition: left 1s;
}

header.shift {
  left: -100vw;
}

header .wrapper {
  position: relative;
  height: 100%;
  border: 1px solid red;
}

header .homeText {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: -8%;
  letter-spacing: 2px;
}

header .homeText h1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 4%;
  font-size: calc(4.8rem + (96 - 48) * (100vw - 320px) / (1280 - 320));
  line-height: 1;
  color: #F2F2F2;
  text-shadow: 7px 7px 0 #1b75a2;
}

header .homeText h1 span {
  display: block;
}

header .homeText button.playNow {
  display: block;
  font-size: calc(2rem + (48 - 20) * (100vw - 320px) / (1280 - 320));
  color: #ed6925;
  background: #F2F2F2;
  padding: 1% 2%;
  border-radius: 10px;
  position: relative;
  top: 0;
  -webkit-box-shadow: 0px 10px 0px #1b75a2;
          box-shadow: 0px 10px 0px #1b75a2;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

header .homeText button.playNow:hover {
  background: #96BF3E;
  color: #F2F2F2;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header .homeText button.playNow.pressDown {
  top: 5px;
  -webkit-box-shadow: 0px 4px 0px #5a7225;
          box-shadow: 0px 4px 0px #5a7225;
}

header .dogImages {
  position: absolute;
  width: 100%;
  height: 300px;
  bottom: 0;
}

header .dogImages img {
  position: absolute;
  max-height: 250px;
  bottom: 0;
  left: 100px;
}

header .dogImages .rottweiler {
  left: 0;
  z-index: 10;
}

header .dogImages .samoyed {
  left: 17.5%;
  z-index: 9;
}

header .dogImages .retriever {
  left: 21%;
  z-index: 8;
}

header .dogImages .poodle {
  left: 44%;
  z-index: 7;
}

header .dogImages .beagle {
  left: 54%;
  z-index: 6;
}

header .dogImages .corgi {
  left: 63%;
  z-index: 5;
}

header .dogImages .frenchie {
  left: 75%;
  z-index: 4;
}

header .dogImages .schnauzer {
  left: 85%;
  z-index: 3;
}

main {
  display: none;
  height: 100vh;
}

main .wrapper {
  height: 100%;
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

main .factContainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5%;
  text-align: center;
  color: #302826;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

main .factContainer.fadeOutEl {
  opacity: 0;
}

@media (max-width: 850px) {
  main .factContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-right: 0%;
    margin-bottom: 5%;
  }
}

@media (max-width: 480px) {
  main .factContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    min-height: auto;
  }
}

main .factContainer.background {
  background: #e5e5e5;
}

main .introCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  min-height: 300px;
}

main .introCard p.instructions {
  font-size: 3.2rem;
  max-width: 400px;
  margin: 0 5%;
  color: #DC5712;
}

@media (max-width: 850px) {
  main .introCard p.instructions {
    font-size: 2.8rem;
  }
}

@media (max-width: 480px) {
  main .introCard p.instructions {
    font-size: 2rem;
  }
}

main .factCard {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e0e0e0;
}

@media (max-width: 850px) {
  main .factCard {
    padding: 3%;
  }
}

@media (max-width: 650px) {
  main .factCard {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 850px) {
  main .factBreedInfo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 650px) {
  main .factBreedInfo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 3%;
  }
}

@media (max-width: 380px) {
  main .factBreedInfo span {
    display: none;
  }
}

main .factBreedInfo h3.breedName {
  font-family: 'Rubik', sans-serif;
  font-size: calc(2rem + (48 - 20) * (100vw - 320px) / (1280 - 320));
  color: #DC5712;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

@media (max-width: 650px) {
  main .factBreedInfo h3.breedName {
    margin-bottom: 1rem;
  }
}

@media (max-width: 380px) {
  main .factBreedInfo h3.breedName {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 1080px) {
  main .factBreedInfo p.breedFact {
    font-size: 2rem;
  }
}

main .factImg {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (max-width: 850px) {
  main .factImg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media (max-width: 650px) {
  main .factImg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: -3% auto 1%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

main .factImg img {
  margin: 0 auto;
  max-width: 90%;
  display: block;
}

@media (max-width: 850px) {
  main .factImg img {
    max-width: 100%;
    margin-left: -5%;
  }
}

@media (max-width: 650px) {
  main .factImg img {
    max-width: 60%;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  main .factImg img {
    max-width: 60%;
    margin: -0.5rem auto 0;
  }
}

main .gameArea {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

main .gameArea.fadeOutEl {
  opacity: 0;
}

@media (max-width: 850px) {
  main .gameArea {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }
}

@media (max-width: 600px) {
  main .gameArea {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
  }
}

main .attemptCount {
  text-align: right;
  color: #E9594E;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  main .attemptCount {
    text-align: center;
    font-size: 1.8rem;
  }
}

main .gameGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2%;
  position: relative;
  height: 44.478vw;
  max-height: 638px;
  -webkit-perspective: 600px;
          perspective: 600px;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

main .gameGrid.fadeOutEl {
  opacity: 0;
}

@media (max-width: 850px) {
  main .gameGrid {
    height: 60vw;
  }
}

@media (max-width: 600px) {
  main .gameGrid {
    height: 78.422vw;
  }
}

main .card {
  border-radius: 16%;
  position: relative;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: scale(1);
          transform: scale(1);
  background: #59b5e4;
  -webkit-transition: background 0.3s, -webkit-transform 0.5s;
  transition: background 0.3s, -webkit-transform 0.5s;
  transition: transform 0.5s, background 0.3s;
  transition: transform 0.5s, background 0.3s, -webkit-transform 0.5s;
}

main .card:hover, main .card:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: #2294ce;
}

main .card:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

main .card.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

main .card.corgi .cardFront, main .card.schnauzer .cardFront {
  background-color: #43ABE0;
}

main .card.poodle .cardFront, main .card.frenchie .cardFront {
  background-color: #E9594E;
}

main .card.beagle .cardFront, main .card.rottweiler .cardFront {
  background-color: #96BF3E;
}

main .card.retriever .cardFront, main .card.samoyed .cardFront {
  background-color: #542361;
}

main .cardFront,
main .cardBack {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

main .cardFront img,
main .cardBack img {
  width: 100%;
  display: block;
}

main .cardFront {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  border-radius: 16%;
}

main .cardFront img.swing {
  -webkit-animation: swing ease-in-out 0.5s infinite alternate;
          animation: swing ease-in-out 0.5s infinite alternate;
}

main .cardBack {
  border-radius: 16%;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

main .winningMessageContainer {
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .winningMessage {
  position: relative;
  z-index: 10;
  border-radius: 10px;
  margin-top: -5%;
  padding: 8% 3% 11%;
  width: 80%;
  background: #43ABE0;
  -webkit-box-shadow: 13px 13px 0px 0px #1b75a2;
          box-shadow: 13px 13px 0px 0px #1b75a2;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

main .winningMessage.bounceIn {
  -webkit-animation: bounceIn 1s;
          animation: bounceIn 1s;
}

main .winningMessage p {
  color: #fff;
  letter-spacing: 1px;
}

main .winningMessage p:first-child {
  font-size: calc(2.4rem + (60 - 28) * (100vw - 320px) / (1280 - 320));
  text-shadow: 5px 5px 0 #1e84b8;
}

@media (max-width: 480px) {
  main .winningMessage p:first-child {
    text-shadow: 3px 3px 0 #1e84b8;
  }
}

main .winningMessage p:nth-child(2) {
  font-size: calc(1.6rem + (36 - 20) * (100vw - 320px) / (1280 - 320));
  margin: 4% auto 6.5%;
  width: 80%;
}

main .winningMessage button.playAgain {
  font-size: calc(1.6rem + (36 - 20) * (100vw - 320px) / (1280 - 320));
  color: #542361;
  background: #96BF3E;
  padding: 3% 5%;
  border-radius: 10px;
  position: relative;
  top: 0;
  -webkit-box-shadow: 0px 10px 0px #5a7225;
          box-shadow: 0px 10px 0px #5a7225;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .winningMessage button.playAgain:hover {
  background: #542361;
  color: #F2F2F2;
  -webkit-box-shadow: 0px 10px 0px #230f29;
          box-shadow: 0px 10px 0px #230f29;
}

main .winningMessage button.playAgain.pressDown {
  top: 5px;
  -webkit-box-shadow: 0px 4px 0px #130816;
          box-shadow: 0px 4px 0px #130816;
}

main .winningCardOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: #F2F2F2;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

main .winningCardOverlay.overlayFadeIn {
  opacity: 0.65;
}
/*# sourceMappingURL=styles.css.map */